# ── Ant build ───────────────────────────────────────────────
build/
dist/
*.war
*.ear

*.class

nbproject/private/
nb-configuration.xml
nbbuild/
nbdist/

*~
*.swp
*.swo
.directory
.Trash-*

.xsession-errors
.xsession-errors.old
.Xauthority

# Plasma y Qt
*.qmlc
*.jsc

local.properties
application-local.properties
persistence-local.xml
*.env
.env
.env.*
!.env.example

*.dump
*.backup
*.pgdump
